.container {
  width: 1200px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-feature {
  padding-bottom: 47px;
}

.box-section {
  padding-top: 47px;
}
